@mixin bit-smaller {
	@media (max-width: 1500px) {
		@content;
	}
}

@mixin bit-more-smaller {
	@media (max-width: 1100px) {
		@content;
	}
}

@mixin lower-then-desktop {
	@media (max-width: 900px) {
		@content;
	}
}

.cardsDivNew {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
	max-width: 1700px;
	// margin-left: 15%;
	// margin-right: 15%;
	margin: auto;
	padding-top: 30px;
	white-space: nowrap;
	// width: 100%;

	@include bit-smaller {
		// margin-left: 5%;
		// margin-right: 5%;
		width: 95%;
	}
	@include lower-then-desktop() {
		flex-direction: column;
		// min-width: 230px;
		// max-width: 350px;
		padding-top: 15px;
		width: 100%;
	}

	.cardsNew {
		min-width: 30%;
		// width: auto;
		position: relative;
		border-radius: 6px;
		background: white;
		// margin-bottom: 30px;
		padding: 15px;
		padding-top: 10px;
		box-shadow: 2px 2px 15px -12px rgba(42, 42, 42, 0.75);
		letter-spacing: 0.5px;

		// &:nth-child(1) {
		// 	// margin-right: 20px;
		// }

		@include bit-smaller {
			letter-spacing: 0.2px;
			min-width: 32%;
		}
		@include lower-then-desktop() {
			width: 90%;
			max-width: 450px;
			padding-top: 0px;
			margin-bottom: 0px;
			transform: scale(0.95);
			&:nth-child(1) {
				margin-bottom: 20px;
				margin-top: 10px;
			}
			&:nth-child(3) {
				margin-top: 20px;
			}

			// margin: 20px 0 20px 0;
			// width: 100%;
			// max-width: 300px;
			// width: fit-content;

			// padding: 15px 35px 15px 35px;
			// width: auto;
		}

		.iconInCard {
			// border:1px solid red;
			// color: rgb(129,0,0);
			text-align: left;
			font-size: 1.7rem;
			position: absolute;
			margin-top: 7px;
			// margin-left: 5px;
		}
		.upperText {
			margin-top: 4px;
			line-height: 1.7;
			border-bottom: 1px solid rgb(180, 180, 180);
			// width: 60%;
			margin-left: 20%;
			margin-right: 20%;
			// letter-spacing: 2px;
			padding: 5px;
			color: rgb(90, 90, 90);
		}
	}

	.mainText {
		// font-size: clamp(1.7rem, 3vw, 2.1rem);
		font-size: 2.2rem;
		font-weight: 700;
		position: relative;
		// border: 2px solid green;
		@include bit-smaller {
			font-size: 2rem;
			letter-spacing: -0.3px;
		}

		span {
			// border: 1px solid red;
			font-size: .9rem;
			// font-size: clamp(0.7rem, 1vw, 0.9rem);
			color: rgb(0, 0, 124);
			bottom: 7px;
			// margin-right: -40px;
			position: absolute;
			@include bit-smaller {
				font-size: .75rem;
			}
		}

		.plusInfected {
			color: rgb(255, 74, 74);
		}

		.plusRecovered {
			color: green;
		}

		.plusDeaths {
			color: rgb(107, 107, 107);
		}
	}

	.cases {
		color: rgb(134, 0, 0);
	}
	.recovered {
		color: rgb(0, 131, 0);
		.krajinaNezverejnuje {
			font-size: 1rem;
			margin: 15px;
			color: rgb(112, 112, 112);
		}
	}
	.deaths {
		color: rgb(87, 87, 87);
	}
	.underText {
		margin-top: 5px;
		font-size: 0.8rem;
		line-height: 1.5;
		color: rgb(110, 110, 110);

		span:nth-child(1) {
			font-weight: bold;
		}
		span:nth-child(n + 2) {
			font-weight: bold;
			color: rgb(31, 91, 170);
		}
	}
}

.dataFromYesterday {
	width: fit-content;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 60px;
	background: white;
	border-radius: 10px;
	// padding: 5px 20px 5px 20px;
	letter-spacing: .3px;
	position: relative;
	// padding-bottom: 25px;
	height: fit-content;
	@include lower-then-desktop() {
		// padding-top: 20px;
		width: 95%;
	}
	.wrapperForGrid {
		display: grid;
		// grid-auto-rows: 1fr;
		grid-template-columns: auto auto auto;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		font-size: 1rem;
		@include lower-then-desktop() {
		}

		div {
			padding: 40px;
			position: relative;
			@include lower-then-desktop() {
				padding: 35px 25px;
				padding-top: 30px;
			}

			h6 {
				font-weight: normal;
				font-size: 1rem;
				// border: 1px solid red;
				// white-space: nowrap;
				@include lower-then-desktop() {
					font-size: .8rem;
				}
			}
		}

		div:nth-child(1) {
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 66%;
				top: calc(66% / 4);
				right: 0;
				background: rgb(212, 212, 212);
			}
		}

		div:nth-child(2) {
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 66%;
				top: calc(66% / 4);
				right: 0;

				background: rgb(212, 212, 212);
			}
		}

		div:nth-child(3) {
			// background: rgba(197, 204, 255, 0.103);
		}
	}
	span {
		font-weight: bold;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		@include lower-then-desktop() {
			font-size: 1.6rem;
		}
	}

	.newCases {
		color: rgb(185, 0, 0);
	}
	.newTested {
		color: #1f5baa;
	}
	.negatTested {
		// color: rgb(39, 189, 89);
		color: rgb(57, 45, 230);
	}
	.newRecovered {
		color: rgb(0, 131, 0);
	}
	.newDeaths {
		color: rgb(87, 87, 87);
	}

	// span:nth-child(n + 1) {
	// 	color: black;
	// }
	// span:nth-child(n + 1) {
	// 	color: green;
	// }
	// span:nth-child(n + 1) {
	// 	color: yellow;
	// }
	h1 {
		// margin: 0;
		padding-top: 15px;
		// padding-bottom: 5px;
		color: rgb(77, 77, 77);
		white-space: nowrap;
		position: relative;
		font-size: 1.6rem;
		&::after {
			// background: rgb(212, 212, 212);
			// position: absolute;
			// height: 1px;
			// content: '';
			// bottom: -5px;
			// left: 35%;
			// right: 35%;
		}
		@include lower-then-desktop() {
			padding-top: 12px;
			font-size: 1.4rem;
		}
	}
}
